server:
  port: 8888

logging:
  level:
    ROOT: INFO
    org.spring.framework.cloud.config: DEBUG

spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          uri: https://github.com/biblip/spring-cloud-config-server-repository.git
          username: arturoportilla@gmail.com
          password: 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
          clone-on-start: true
      fail-fast: true
  security:
    user:
      name: spring_cloud_user
      password: ENC(zgfyYRHdZB2d43rAPZhtSfBTKfmscz45F0n9le0KAJd7il+2qJe6PrduUe9pNqhU4JnSERlFarofDZmjzBjbpw==)

jasypt:
  encryptor:
    password: Demo_Pwd!2022